{% extends "base.html" %}
{% load i18n %}
{% load allauth account %}

{% block content %}
<div class="mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card shadow p-4">

                <h2>Регистрация</h2>

                <form method="post" action="{% url 'account_signup' %}">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <button type="submit" class="btn btn-primary w-100">
                        Зарегистрироваться
                    </button>
                </form>

                <p class="text-center mt-3">Уже есть аккаунт? <a href="{% url 'account_login' %}">Войти</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}